*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 
  font-family: 'Courier New', Courier, monospace;
}

.offset:before{
display: block;
content: "";
height: 4rem;
margin-top: -4rem;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background:rgba(0,0,0,0.6)!important;
}
.navbar .navbar-expand-lg .navbar-light{
  position:sticky;
}
.navbar-brand{
  font-family: cursive;
  font-size: 2rem;
color: lightcoral !important;
}
.nav-link{
  font-size: 16px;
  margin:15px ;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.nav-link:hover{
  color: #1ebba3 !important;

  cursor: pointer;
}
.active .nav-link{
  color:#1ebba3 ;
}
.menu-right-btn{
  padding: 13px 46px;
  margin-right: 4%;
  background-color: transparent;
  transition:all 3000ms ease-in ;
}

.site-content{
  background-image: url(./images/img2.jfif);
  background-attachment: fixed;
  background-size: cover;
}
.site-title, .site-desc{
  color: white;
  font-family: sans-serif;
}


.d-flex a{
  margin-bottom: 12rem;
}
.site-title{
  margin-top: 30%;
  
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.site-content h3{
  font-size: 2rem;
  color: white;
  padding-left: 9rem;
  text-transform: uppercase;
text-shadow: .1rem .1rem .5rem black;
}
.btn-lg{
  text-transform: uppercase;
margin-left: 15rem;
border-width: medium;
border-radius: .3rem;
padding: .6rem 1.3rem;
font-size: 1.1rem;

}
/*.========== course section ================ */
.narrow{
 background-color: mintcream;
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;

}
.narrow h1{
font-size: 2.4rem;

}
.btn-secondary{
border-width: medium;
border-radius: 0;
text-transform: uppercase;
font-size: 1.2rem;
padding: .6rem 1.2rem;
margin: 1rem;
color:white ;
background-color: #1ebba3;
border-color:#1ebba3 ;

}
.btn-secondary:hover{

  background-color: #189582;
  border-color:#189582 ;
  
  }
/* features Section  */
.jumbotron{
margin-bottom: 0;
padding: 2rem 0 3.5rem;
border-radius: 0;
}
h3.heading{
font-size: 1.9rem;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 1.9rem;
}
.heading-underline{
width: 3rem;
height: .2rem;
background-color: #1ebba3;
margin: 0 auto;
margin-bottom: 2rem;

}
.feature svg.svg-inline--fa{
color:#1ebba3 ;

}
.feature h3{
font-size: 1.3rem;
text-transform: uppercase;
padding-bottom: .4rem;
}
.feature p{
font-size: 1.1rem;
  
}
/* resources section  */
.site-content1{
  height: 400px;
  background-image: url(./images/img4.jfif);
background-attachment: fixed;
background-size: cover;
}
.dark{
height: 400px;
  background-color: rgba(0,0,0,0.75);
  color: white;
 padding: 7rem 2rem;
}
.fixed-background h3{
margin-bottom: 2rem;
}
.fixed-background p{
margin-top: 1.5rem;
}
/*========== clients section ================ */
.clients img{
width: 100%;
height: 100%;
border-radius: 50%;
}
blockquote .svg-inline--fa {
  columns: #1ebba3; 
}
.clients-hr{
border-top: .05rem solid #1ebba3;  
}
/*================= contact section ============ */
footer{
background-color: #40474e;
color: white;
padding: 2rem 0 2rem;
margin-top: 1rem;
}
footer img{
  height: 3rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
  padding: 0.2rem;
}
footer a:hover{
  color: #1ebba3;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid #666b7e;
  margin-top: 3rem;
}
  
  
 /*=============== Media queries =========== */
@media(max-width:767px){
  .site-title{
    margin-top: 30px;
    
    font-size: 30px;
    text-transform: uppercase;
    
    padding-bottom: 1rem;
  }
  .site-content h3{
    font-size:1.2rem;
    color: white;
    padding-left: 9rem;
    text-transform: uppercase;
  
  }
  .btn-lg{
  

  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  
  }


}
